---
- name: Configure repositories
  ansible.builtin.include_tasks:
    file: "repositories-{{ ansible_facts['os_family'] }}.yml"
  when: lustre_configure_repos

- name: Apply DKMS patches
  ansible.builtin.include_tasks:
    file: dkms-patches.yml
  when: lustre_dkms | bool and lustre_dkms_patches | length > 0

- name: Install Lustre client
  ansible.builtin.include_tasks:
    file: "install-{{ ansible_facts['os_family'] }}.yml"

- name: Install /etc/modprobe.d/lustre.conf
  ansible.builtin.template:
    src: lustre.conf.j2
    dest: /etc/modprobe.d/lustre.conf
    owner: root
    group: root
    mode: "0644"
  notify: "Restart LNet service"

- name: Install /etc/lnet.conf
  ansible.builtin.template:
    src: lnet.conf.j2
    dest: /etc/lnet.conf
    owner: root
    group: root
    mode: "0644"
  when: lustre_lnet_conf is defined
  notify: "Restart LNet service"

- name: Configure lnet.service override
  when: lustre_lnet_systemd_override is defined
  block:
    - name: Create systemd drop-in directory
      ansible.builtin.file:
        path: /etc/systemd/system/lnet.service.d
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Copy override.conf
      ansible.builtin.copy:
        dest: /etc/systemd/system/lnet.service.d/override.conf
        content: "{{ lustre_lnet_systemd_override }}"
        owner: root
        group: root
        mode: "0755"
      notify:
        - "Run daemon-reload for LNet service"
        - "Restart LNet service"

- name: Cleanup lnet.service override
  when: not lustre_lnet_systemd_override is defined
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  notify:
    - "Run daemon-reload for LNet service"
    - "Restart LNet service"
  loop:
    - /etc/systemd/system/lnet.service.d/override.conf
    - /etc/systemd/system/lnet.service.d

- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Mount Lustre file systems
  ansible.posix.mount:
    src: "{{ item.src }}"
    path: "{{ item.path }}"
    opts: "{{ item.opts + ',' if item.opts is defined }}_netdev,x-systemd.automount,x-systemd.requires=lnet.service"
    fstype: lustre
    boot: "{{ item.boot | default(false) }}"
    state: "{{ item.state | default('mounted') }}"
  loop: "{{ lustre_filesystems }}"
